# Todays' Agenda 
      - print()
      - type of values 
      - variables
      - Operators

# Print()
     - print() is python function.
     - it prints anything(valid) provided on the console output.

In [1]:
print("Nasir Hussain")

Nasir Hussain

In [2]:
print("Nasir Hussain", "Sohail")

Nasir Hussain Sohail

In [3]:
print(100)

100

In [4]:
print(1230)

1230

In [5]:
print(12,3,45,6,7)

12 3 45 6 7

In [6]:
print(12.6)

12.6

What we are supplying to print function are values. 
Question: how many type of values

Values : Data >>>>> data types


 Text >>>>> String >> "i am string" >>> str
 Number >>>> 
         - Whole Numbers        >>>>> Integers   >>>>  int
         - Decimal Numbers      >>>>> Floats     >>>>  float 
Boolean >>>> Yes/NO >>>> True/False   >>>>> bool

In [8]:
print("SMIT", 100, 500.5, True)

SMIT 100 500.5 True

In [9]:
type("SMIT")

str

In [10]:
type(234)

int

In [11]:
type(45.6)

float

In [12]:
type(False)

bool

In [20]:
print("Ahsun","Nasir", sep="")

AhsunNasir

In [23]:
print("Hello Python", end="\n\n\n\n\n\n")
print("Hello Boys")

Hello Python





Hello Boys

In [24]:
print("Wow wew are now learning Python
      Thank you SMIT")

SyntaxError: unterminated string literal (detected at line 1) (1514326339.py, line 1)

In [26]:
print("Wow we \nare now learning Python.\nThank you SMIT")

Wow we
are now learning Python.
Thank you SMIT

# String kese kese bana sakte hen

In [27]:
"I am double quote string"

'I am double quote string'

In [28]:
'I am single quote string'

'I am single quote string'

In [29]:
"""I m a tripple quote string"""

'I m a tripple quote string'

In [30]:
'''I m a single tripple quote string'''

'I m a single tripple quote string'

       SMIT
   Name: Nasir
   Course: Python
   Days: Tuesday and Thursday
   Campus: HO-Bahadurabad
   Time  : 7-9

In [38]:
print("\t\tSMIT\n \tName: Nasir\n\tCourse:Python\n\tDays:Tuesday and Thursday\n\tCampus: HO-Bahadurabad\n\tTime  : 7-9")

		SMIT
 	Name: Nasir
	Course:Python
	Days:Tuesday and Thursday
	Campus: HO-Bahadurabad
	Time  : 7-9

In [39]:
print("""
           SMIT
   Name: Nasir
   Course: Python
   Days: Tuesday and Thursday
   Campus: HO-Bahadurabad
   Time  : 7-9
""")

           SMIT
   Name: Nasir
   Course: Python
   Days: Tuesday and Thursday
   Campus: HO-Bahadurabad
   Time  : 7-9

# Variables
     - Variables are identifiers
     - They are containers

In [51]:
student = "Ahsun Khan"

students >>>>> identifier
               variable name
               contianer name
=       >>>>>  operator (assignment operator)
"Ahsun Khan"  >>>> value >>>> string type


A string type value "Ahsun Khan" is assigned in variable students

In [41]:
print(student)

Ahsun Khan

In [42]:
id(student)

2576283936688

In [49]:
student = "Nasir Hussain"

In [44]:
print(student)

Nasir Hussain

In [50]:
type(student)
id(student)

2576284407472

In [46]:
student = 123456

In [47]:
print(student)

123456

In [48]:
id(student)

2576287064144

In [52]:
number = 100

In [53]:
is_present = False

In [54]:
percentage = 78.8

# Variable Naming Legal and Illegal

 - python used words (reserved words) are not allowed as variable name
 - there can be no space in variable name
 - variable name can not be started with a number
 - Special character are not allowed (@,#,$,%,^,&,)

List of Reserved Words : 

False	def	if	raise
None	del	import	return
True	elif	in	try
and	else	is	while
as	except	lambda	with
assert	finally	nonlocal	yield
break	for	not
class	form	or
continue	global	pass

In [57]:
global = 123

SyntaxError: invalid syntax (3876829238.py, line 1)

In [58]:
father name = "Khalil Bhai"

SyntaxError: invalid syntax (186596501.py, line 1)

In [59]:
1stprize = "nasir"

SyntaxError: invalid decimal literal (3060037044.py, line 1)

In [60]:
n@me = "Nasir"

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (4128869008.py, line 1)

In [62]:
father_name = "Khalil Bhai"
fatherName = "Khalil Bhai"
fathername = "Khalil Bhai"

In [63]:
my_first_book_on_coding_is_python_for_kids = "Programming for kids"

In [64]:
myFirstBookOnCodingIsPythonForKids="Programming for kids"

# Operators
          Arithmetic  
                   - Addition(+)
                   - Subtraction(-)
                   - Multiplication (*)
                   - Float Division (/)
                   - Integer Division(//)
                   - Power (**)
                   - Remainder (%)
                   - Assignment (=)

In [66]:
12 + 4

16

In [67]:
1234- 678

556

In [68]:
12 *6

72

In [70]:
12/5

2.4

In [71]:
12//5

2

In [72]:
2**3

8

In [75]:
num1 = 23
num2 = 34

In [76]:
num1 + num2

57

In [77]:
20/2

10.0

In [78]:
20%2

0

# Class3(28May2024)

## Operator Ambiguity: Solving Expression

# Comparision Operators: 
     - == (equal to)
     - != (not equal to)
     - > greater than
     - < less than
     - >=
     - <=
     - in 
     - and 
     - or 
     - not

In [1]:
not(True)

False

In [3]:
"i" in "Pakistan"

True

In [4]:
import math

In [7]:
math.floor(12.9)

12

In [8]:
math.ceil(12.0001)

13

In [10]:
12//5

2

In [11]:
3 != 3 or 5 > 4

True

In [12]:
10 == 10 and 5 > 6

False

In [13]:
12/3

4.0

In [15]:
12.0//5

2.0

In [16]:
8 / 2 + 2 * 3

10.0

In [17]:
10 > 5 < 2

False

In [18]:
3 * "Hello"

'HelloHelloHello'

In [19]:
-5 // 2

-3

In [20]:
8 % 3 + 2 ** 2 * (2 + 2)

18

In [22]:
(12+30)/5

8.4

In [23]:
(3 + 2) * 4 / 2 ** 2

5.0

In [24]:
x = 5
y = x * 2 if x < 10 else x / 2
print(y)

10

In [29]:
x =int(input("Please enter a value for x"))
y = x * 2 if x < 10 else x / 2
print(y)

Please enter a value for x2
4

In [30]:
round(2.564, 2)

2.56

# Truthy

In [34]:
12 or 20 or 3 or 5 or 678

12

In [33]:
12 and 20 and 23 and 1 and 5

5

# Conditional Statments / Control Flow
  - if else
  - if elif else

In [37]:
a =10
b= 20 

if a < b:
    print("Khana Pakana hy")
    print("Python Parhni hy")

Khana Pakana hy
Python Parhni hy

In [38]:
a =100
b= 20 

if a < b:
    print("Khana Pakana hy")
    print("Python Parhni hy")

In [39]:
a =10
b= 20 

if a < b:
    print("Khana Pakana hy")
    print("Python Parhni hy")
else:
    print("Sojana")

Khana Pakana hy
Python Parhni hy

In [40]:
a =101
b= 20 

if a < b:
    print("Khana Pakana hy")
    print("Python Parhni hy")
else:
    print("Sojana")

Sojana

In [41]:
price = input("Anday kia hisab hen")

if price <20:
    print("Ek darjan dedo")
else:
    print("Ek dedo")

Anday kia hisab hen40

TypeError: '<' not supported between instances of 'str' and 'int'

In [44]:
price = input("Anday kia hisab hen")

print(type(price))
price

Anday kia hisab hen56
<class 'str'>

'56'

In [43]:
int("45")

45

In [46]:
price = int(input("Anday kia hisab hen"))
if price <20:
    print("Ek darjan dedo")
else:
    print("Ek dedo")

Anday kia hisab hen10
Ek darjan dedo

In [48]:
marks = int(input("Enter your marks"))

if marks<50:
    print("Fail")
else:
    print("Pass")

Enter your marks45
Fail

In [50]:
price = int(input("Tamater kia kilo hen"))
dahi_price = int(input("dahi kka hisab hy"))

if price <100:
    print("2 Kilo dedo")
elif dahi_price <100:
    print("1 kilo dahi dedo")
else:
    print("Wapas ajana")

Tamater kia kilo hen200
dahi kka hisab hy80
1 kilo dahi dedo

# Class4(30May2024)

In [2]:
purchase_amt = int(input("Enter purchase amt"))

if purchase_amt>=10000:
    print("You got 10% discount")
else:
    print("You 5% discount")

Enter purchase amt2000
You 5% discount

In [14]:
cost_shoes = float(input('Enter shoes price'))
cost_glasses = float(input('Enter glasses price'))
cost_shirt = float(input('Enter shirt price'))
cost_watch = float(input('Enter watch price'))
cost_cap = float(input('Enter cap price'))


total  = cost_cap+cost_glasses+cost_shirt+cost_watch+cost_shoes
# discount = 0

if total>=15000:
    discount=total*0.15
elif total>=10000:
    discount=total*0.10
elif total>=5000:
    discount=total*0.05
elif total>=1000:
    discount=total*.01
else:
    print("You are not eligible for discount")
    
print(f"""
            Thank you for shopping!!!
            
            Total: {total}
            Discount: {discount}
            Payable: {total-discount}

 """)

Enter shoes price1
Enter glasses price2
Enter shirt price3
Enter watch price4
Enter cap price5
You are not eligible for discount

NameError: name 'discount' is not defined

In [12]:
del discount

In [13]:
discount

NameError: name 'discount' is not defined

In [5]:
int('12')

12

In [6]:
int('12.5')

ValueError: invalid literal for int() with base 10: '12.5'

In [7]:
float('12.5')

12.5

# String : 
    - Every entity in Python is object.
    - An object belongs to a class
    - Class contains methods and properties

In [16]:
name = "Ahsun Khan"
print(type(name))

# it is an object of string class

<class 'str'>

In [17]:
name.capitalize()

'Ahsun khan'

In [18]:
name.upper()

'AHSUN KHAN'

In [19]:
name.lower()

'ahsun khan'

In [20]:
name = 100

### string contenation( join)

In [36]:
first_name = "nasir"
last_name = 'hussain'

age  = 20

In [31]:
first_name

'nasir'

In [32]:
last_name

'hussain'

In [33]:
first_name+last_name

'nasirhussain'

In [38]:
first_name+" "+last_name + str(age)

'nasir hussain20'

### My name is Nasir Hussain, And I am 50 years old.

In [41]:
print("My name is "+first_name.capitalize()+" "+last_name.capitalize()+", And I am "+str(age)+" years old.")

My name is Nasir Hussain, And I am 20 years old.

# String Format

In [47]:
print("My name is {} {}, And I am {} years old".format(first_name.capitalize(), last_name.capitalize(), age))

My name is Nasir Hussain, And I am 20 years old

In [46]:
"My name is {} {}, And I am {} years old".format(first_name.capitalize(), last_name.capitalize(), age)

'My name is Nasir Hussain, And I am 20 years old'

In [50]:
print("My name is {first_name.capitalize()} {last_name.capitalize()}, And I am {age} years old")

My name is {first_name.capitalize()} {last_name.capitalize()}, And I am {age} years old

In [51]:
name= input("Please tell me your name:    ")
age = int(input("Tell me your age    :    "))
course= input("Tell me your course   :    ")
campus = input("Input tell me your campus: ")
st_id  = input("Tell mr your student id:   ")


print(f"""
           Saylani Mass IT Training Programm
           __________________________________
           
                    Student Identity Card
                    =====================
            Student Name:  {name} 
            Course      :  {course}
            Student_Id  :  {st_id}
            Campus      :  {campus}
            Age         :  {age}
            
            
            Note: Kisi ko mile to karebi letter box me dale den       
                    





""")

Please tell me your name:    Ahsun Ali
Tell me your age    :    21
Tell me your course   :    Python Programming
Input tell me your campus: Head Office
Tell mr your student id:   12345

           Saylani Mass IT Training Programm
           __________________________________

                    Student Identity Card
                    =====================
            Student Name:  Ahsun Ali
            Course      :  Python Programming
            Student_Id  :  12345
            Campus      :  Head Office
            Age         :  21


            Note: Kisi ko mile to karebi letter box me dale den

In [57]:
text = "My name is Nasir Hussain, And I am 20 years old."

In [58]:
text.capitalize()

'My name is nasir hussain, and i am 20 years old.'

In [59]:
text.count("a")

5

In [56]:
text.count("am")

2

In [61]:
text.endswith("d.")

True

In [62]:
text.startswith('m')

False

In [64]:
print(campus)

Head Office

In [65]:
campus=="Head Office"

False

In [66]:
campus.lstrip()

'Head Office '

In [67]:
campus.rstrip()

'Head Office'

In [71]:
campus.strip()

'Head Office'

# String is Immutable: unchangeable

In [69]:
campus

'Head Office '

In [76]:
"a".isalnum()

True

# Class5 Assignment (4June2024)

# Class6(6June2024)

In [2]:
num1 = 100

In [3]:
num2 = 200

In [6]:
if num1 > 100:    
    print("Khana Khao")
    print("Mohsin Parhlo")
    print("Chai Banao Begum")

else:
    print("Farmish k lie pehle dulha bano")

Farmish k lie pehle dulha bano

In [22]:
anda  = 25

if anda <=25:
    print("6 anday dedo")
else:
    print("1 anda dedo")

6 anday dedo

In [21]:
anda_price = input("Please tell me 1 anda price")
if anda_price<20:
    print("1 dozen")
else:
    print("1")

Please tell me 1 anda price50

TypeError: '<' not supported between instances of 'str' and 'int'

In [27]:
age = float(input("Tell me your age"))
if age>=18:
    print("Eligible for CNIC")
else:
    print(f"You have to wait {18-age} years")

Tell me your age4
You have to wait 14.0 years

# Numbers
     - Whole Numbers   {0,1,2,3,4,5,6..... }
              - integers (-1, 2, 5, ...} 
                 - int
     
     - Decimal Numbers {1.0,2.0,3.0,......}
              - floating point
                  float

In [31]:
type(45)

int

In [32]:
type(32.6)

float

# Type Casting

In [33]:
age  = 30.6
print(age,type(age))

30.6 <class 'float'>

In [34]:
age  = int(age)
print(age,type(age))

30 <class 'int'>

In [38]:
round(30.3764567,3)

30.376

In [41]:
phy  = float(input("Enter physics k marks"))
chem = float(input("Enter chem k marks"))
math = float(input("Enter maths k marks"))
eng = float(input("Enter english k marks"))
comp = float(input("Enter computer k marks"))
urdu = float(input("Enter urdu k marks"))
total_obt = phy+chem+math+eng+comp+urdu
percentage = total_obt/600*100

if percentage>=90:
    grade = "A+"
elif percentage>=80:
    grade = "A"
elif percentage>=70:
    grade = "B"
elif percentage>=60:
    grade = "C"
elif percentage>=50:
    grade = "D"
elif percentage>40:
    grade = "E"
else:
    grade = "F"
print(f"Mubarak ho! app ka grade {grade} aya hy")
print(f"Apki percentage {percentage} i hy")
print(f"Apk total marks 600 me se  {total_obt} aye hen")

Enter physics k marks89
Enter chem k marks85
Enter maths k marks89
Enter english k marks96
Enter computer k marks85
Enter urdu k marks87
Mubarak ho! app ka grade A aya hy
Apki percentage 88.5 i hy
Apk total marks 600 me se  531.0 aye hen

"Mere dost ka nam Khursheed hy. Or wo Lahore me rehata hy. Uski umer 20 saal hy"

In [43]:
dost_ka_nam = "Khursheed"
city  = "Lahore"
age  = 20
print("Mere dost ka nam"+ dost_ka_nam + "hy. Or wo "+city+"me rehta hy. Uski umer "+age+ "saal hy")

TypeError: can only concatenate str (not "int") to str

In [45]:
dost_ka_nam = "Khursheed"
city  = "Lahore"
age  = 20
print("Mere dost ka nam "+ dost_ka_nam + " hy. Or wo "+city+" me rehta hy. Uski umer "+str(age)+ " saal hy")

Mere dost ka nam Khursheed hy. Or wo Lahore me rehta hy. Uski umer 20 saal hy

In [49]:
dost_ka_nam = input("Tell me your dost name")
city = input("Wo kahan rehta hy")
age  = input("Wo kitne saal ka hy ")
print(f"Mere dost ka nam {dost_ka_nam} hy or wo {city} me rehta hy. Uski umer {age} saal hy")

Tell me your dost nametalha
Wo kahan rehta hykarachi
Wo kitne saal ka hy 33
Mere dost ka nam talha hy or wo karachi me rehta hy. Uski umer 33 saal hy

# Class7(11June2024)

# String 
   - Every python data is a object. And object it belongs to a class. 
   - A class can have methods/ functions and properties
   - String is immutable

In [7]:
country = "pakistan"

In [8]:
print(type(country))

<class 'str'>

In [9]:
marks = 12
print(type(marks))

<class 'int'>

In [10]:
boolean = True
print(type(boolean))

<class 'bool'>

In [13]:
new_country = country.capitalize()

In [12]:
country

'pakistan'

In [14]:
new_country

'Pakistan'

In [15]:
country = "USA"

In [16]:
country

'USA'

In [17]:
country = country.lower()

In [18]:
country

'usa'

In [19]:
country.upper()

'USA'

In [23]:
country.count("ua")

0

In [24]:
country.endswith("A")

False

In [25]:
country.endswith("a")

True

In [26]:
country.startswith("u")

True

In [27]:
text = "We are learning Python. Python is great language."

In [28]:
text.index("P")

16

In [29]:
text.index("great")

34

In [30]:
text.index("Python", 17)

24

In [31]:
text.count("Python")

2

In [32]:
text.index("Python")

16

In [33]:
text.index("Python",17)

24

In [34]:
text.index("python")

ValueError: substring not found

In [36]:
text.find("python")

-1

In [41]:
"python".capitalize() in text

True

In [43]:
text.replace("Python", "JavaScript")

'We are learning JavaScript. JavaScript is great language.'

In [44]:
name = "nasir hussain "

In [45]:
print(name)

nasir hussain

In [46]:
len(name)

14

In [49]:
name.strip()

'nasir hussain'

In [53]:
name = " abdul haseeb "

In [54]:
print(name)

 abdul haseeb

In [55]:
name == "abdul haseeb"

False

In [59]:
name = name.strip()

In [60]:
name

'abdul haseeb'

In [61]:
name == "abdul haseeb"

True

In [ ]:
Values: numeric, digits
        char
        alphanumeric: A23
        space

In [62]:
data = "100"

In [63]:
data.isalnum()

True

In [64]:
data = "apple"

In [65]:
data.isalnum()

True

In [66]:
data = "123Ap"

In [67]:
data.isalnum()

True

In [68]:
data.isalpha()

False

In [69]:
data= "a"

In [70]:
data.isalpha()

True

In [71]:
data = "100"

In [72]:
data.isnumeric()

True

In [73]:
data.isdigit()

True

In [74]:
data= 'hundred'

In [75]:
data.isnumeric()

False

In [76]:
data.isdigit()

False

In [105]:
data = "1235  "

In [106]:
data.isdecimal()

False

In [108]:
data.ljust(3,"*")

'1235  '

In [109]:
text

'We are learning Python. Python is great language.'

In [110]:
text.split()

['We', 'are', 'learning', 'Python.', 'Python', 'is', 'great', 'language.']

In [113]:
broken = text.split("a")

In [114]:
broken

['We ', 're le', 'rning Python. Python is gre', 't l', 'ngu', 'ge.']

In [115]:
"a".join(broken)

'We are learning Python. Python is great language.'

AttributeError: 'list' object has no attribute 'join'

# Indices

In [117]:
country

'usa'

In [118]:
country[0]

'u'

In [119]:
country[1]

's'

In [120]:
country[2]

'a'

In [121]:
country[0] = "U"

TypeError: 'str' object does not support item assignment

# Class8(13June2024)

# Python Collections  / Python Data Structures 
  - String 
  - List 
  - Dictionary 
  - Tuple
  - Set

In [1]:
student = "Nasir Hussain"

# List
     - a python list is a simple and widely used data structure

In [2]:
students = ['Adil', 'Ammar', "Nasar", "Maaz", 'Sohail']

In [3]:
print(type(students))

<class 'list'>

In [7]:
# accessing items from a list via indices

#             -5      -4       -3        -2       -1
students = ['Adil', 'Ammar', "Nasar", "Maaz", 'Sohail']
#             0       1         2        3        4

In [8]:
students[0]

'Adil'

In [9]:
students[3]

'Maaz'

In [10]:
students[-2]

'Maaz'

# A list can hold multiple types of data

In [11]:
python_class = ['students', 'trainer', 50, "lcd", True, 12.4, False]

In [12]:
lst  = [1,2,3,4,5,6, ['nasir', 'asad', 'fahad', 'sabir']]

In [13]:
len(lst)

7

In [14]:
lst[6]

['nasir', 'asad', 'fahad', 'sabir']

In [15]:
lst[6][2]

'fahad'

In [16]:
lst[6][2][-1]

'd'

# Adding members in a list
    -  append()
    -  insert()
    -  extends()
    -  concat (+)

In [22]:
# add a new member in an existing list at end of the list. 
print(students)
students.append("Mustafa")

['Adil', 'Ammar', 'Nasar', 'Maaz', 'Sohail']

In [23]:
students

['Adil', 'Ammar', 'Nasar', 'Maaz', 'Sohail', 'Mustafa']

In [24]:
students.append('nasir', 'yasir')

TypeError: list.append() takes exactly one argument (2 given)

In [25]:
students.insert(2, "Hasnain")
students

['Adil', 'Ammar', 'Hasnain', 'Nasar', 'Maaz', 'Sohail', 'Mustafa']

In [26]:
friends = ['mujib', 'zohaib', 'shahnawaz', 'ahmed', 'yasir']

In [27]:
students.append(friends)

In [28]:
students

['Adil',
 'Ammar',
 'Hasnain',
 'Nasar',
 'Maaz',
 'Sohail',
 'Mustafa',
 ['mujib', 'zohaib', 'shahnawaz', 'ahmed', 'yasir']]

In [29]:
del students[7]
students

['Adil', 'Ammar', 'Hasnain', 'Nasar', 'Maaz', 'Sohail', 'Mustafa']

In [30]:
students.extend(friends)

In [31]:
students

['Adil',
 'Ammar',
 'Hasnain',
 'Nasar',
 'Maaz',
 'Sohail',
 'Mustafa',
 'mujib',
 'zohaib',
 'shahnawaz',
 'ahmed',
 'yasir']

In [32]:
relatives = ['imtiaz', 'rumaisa','subhan','hammad', 'anas']

In [34]:
students = students + relatives

In [35]:
students

['Adil',
 'Ammar',
 'Hasnain',
 'Nasar',
 'Maaz',
 'Sohail',
 'Mustafa',
 'mujib',
 'zohaib',
 'shahnawaz',
 'ahmed',
 'yasir',
 'imtiaz',
 'rumaisa',
 'subhan',
 'hammad',
 'anas']

# Removing Elements from a list
     - del 
     - remove()
     - pop()
     - clear()

In [36]:
lst

[1, 2, 3, 4, 5, 6, ['nasir', 'asad', 'fahad', 'sabir']]

In [37]:
# del deletes a value via index
lst[7]

IndexError: list index out of range

In [39]:
del lst[6]
lst

[1, 2, 3, 4, 5, 6]

In [40]:
lst.remove(5)

In [41]:
lst

[1, 2, 3, 4, 6]

In [42]:
students

['Adil',
 'Ammar',
 'Hasnain',
 'Nasar',
 'Maaz',
 'Sohail',
 'Mustafa',
 'mujib',
 'zohaib',
 'shahnawaz',
 'ahmed',
 'yasir',
 'imtiaz',
 'rumaisa',
 'subhan',
 'hammad',
 'anas']

In [43]:
students.pop()

'anas'

In [44]:
students

['Adil',
 'Ammar',
 'Hasnain',
 'Nasar',
 'Maaz',
 'Sohail',
 'Mustafa',
 'mujib',
 'zohaib',
 'shahnawaz',
 'ahmed',
 'yasir',
 'imtiaz',
 'rumaisa',
 'subhan',
 'hammad']

In [45]:
popped_value = students.pop()

In [46]:
popped_value

'hammad'

In [47]:
students.pop(3)

'Nasar'

In [48]:
students.clear()

In [50]:
students

[]

In [51]:
del students

In [52]:
students

NameError: name 'students' is not defined

# Making duplicates of a list
       - copy   - deep copy
       - [:] slice
       - direct copy  - shallow copy

In [53]:
students = ['Adil', 'Ammar', "Nasar", "Maaz", 'Sohail']

In [58]:
new_students = students.copy()

# deep copy

In [55]:
new_students

['Adil', 'Ammar', 'Nasar', 'Maaz', 'Sohail']

In [56]:
old_students = students
# shallow copy

In [57]:
old_students

['Adil', 'Ammar', 'Nasar', 'Maaz', 'Sohail']

In [60]:
students.append("Saad")

In [61]:
students

['Adil', 'Ammar', 'Nasar', 'Maaz', 'Sohail', 'Saad']

In [62]:
old_students

['Adil', 'Ammar', 'Nasar', 'Maaz', 'Sohail', 'Saad']

In [65]:
id(students)

2783536916544

In [64]:
id(old_students)

2783536916544

In [66]:
id(new_students)

2783537693696

In [67]:
old_students.count("Maaz")

1

In [68]:
old_students.index("Maaz")

3

# Python Collection: Dictionary
            - Dictionary is python data structure
            - It comprises on key:value pair
            - There is no index in dictionary
            - Dictionary is mutable
            - widely used Ds
            
            - {key:value} culrley brackets with key value  pair

In [10]:
# creating a dictionary
student1 = {'roll_number':4321, 'name':'Maaz', 'course':'Python',
           'age':15, 'email':'maaz@maaz.com', 15:"Police Help Line",'roll_number':1234}

In [11]:
print(type(student1))

<class 'dict'>

In [12]:
len(student1)

6

In [13]:
print(student1)

{'roll_number': 1234, 'name': 'Maaz', 'course': 'Python', 'age': 15, 'email': 'maaz@maaz.com', 15: 'Police Help Line'}

### key can not be duplicated. If you try to make a dulpicate key with some new value it will override the previous one.

### Aceessing data from dictionary:
     - there is no index 
     - data is accessed via keys

In [14]:
student1['name']

'Maaz'

In [15]:
student1[15]

'Police Help Line'

In [16]:
student2 = [4321, 'Maaz','Python',15, 'maaz@maaz.com', 'Plice Help Line']

In [17]:
# getting all the keys of a dictionary
student1.keys()

dict_keys(['roll_number', 'name', 'course', 'age', 'email', 15])

In [18]:
student1.values()

dict_values([1234, 'Maaz', 'Python', 15, 'maaz@maaz.com', 'Police Help Line'])

In [19]:
student1.items()

dict_items([('roll_number', 1234), ('name', 'Maaz'), ('course', 'Python'), ('age', 15), ('email', 'maaz@maaz.com'), (15, 'Police Help Line')])

### Adding new key value pair in an existing dictionary

In [20]:
student1

{'roll_number': 1234,
 'name': 'Maaz',
 'course': 'Python',
 'age': 15,
 'email': 'maaz@maaz.com',
 15: 'Police Help Line'}

In [21]:
student1['gender'] = 'Male'

In [22]:
student1

{'roll_number': 1234,
 'name': 'Maaz',
 'course': 'Python',
 'age': 15,
 'email': 'maaz@maaz.com',
 15: 'Police Help Line',
 'gender': 'Male'}

In [24]:
siblings = {'cousin':"Huzaifa", 'location':'Dhoraji'}

In [25]:
student1['siblings'] = siblings
student1

{'roll_number': 1234,
 'name': 'Maaz',
 'course': 'Python',
 'age': 15,
 'email': 'maaz@maaz.com',
 15: 'Police Help Line',
 'gender': 'Male',
 'siblings': {'cousin': 'Huzaifa', 'location': 'Dhoraji'}}

In [26]:
del student1['siblings']
student1

{'roll_number': 1234,
 'name': 'Maaz',
 'course': 'Python',
 'age': 15,
 'email': 'maaz@maaz.com',
 15: 'Police Help Line',
 'gender': 'Male'}

In [27]:
# it works like extend method of list
student1.update(siblings)

In [28]:
student1

{'roll_number': 1234,
 'name': 'Maaz',
 'course': 'Python',
 'age': 15,
 'email': 'maaz@maaz.com',
 15: 'Police Help Line',
 'gender': 'Male',
 'cousin': 'Huzaifa',
 'location': 'Dhoraji'}

In [30]:
# both are similar
student1.get('name') , student1['name']

('Maaz', 'Maaz')

### Removing Items from dictionary
    - del 
    - pop
    - pop item

In [31]:
student1.pop()

TypeError: pop expected at least 1 argument, got 0

In [32]:
student1.pop(15)

'Police Help Line'

In [33]:
student1.pop('location')

'Dhoraji'

In [34]:
student1

{'roll_number': 1234,
 'name': 'Maaz',
 'course': 'Python',
 'age': 15,
 'email': 'maaz@maaz.com',
 'gender': 'Male',
 'cousin': 'Huzaifa'}

In [35]:
student1.popitem()

('cousin', 'Huzaifa')

# Conditional Statements / Control flow
       - if 
       - if else
       - elif

In [37]:
input()

hello

'hello'

In [38]:
input("Age batao")

Age batao23

'23'

In [43]:
year = float(input("Please tell me your birth year"))
print(f"your are {2024-year} years old")

Please tell me your birth year1947
your are 77.0 years old

In [45]:
age = float(input("Please tell me your age"))
if age >=60:
    print("You are a senior citizen")

Please tell me your age56

In [47]:
age = float(input("Please tell me your age"))
if age >=60:
    print("You are a senior citizen")
else:
    print("You are Junior Citizen")

Please tell me your age89
You are a senior citizen

In [53]:
# ask user his/her gender if user is male then allow login to portal
# if user female then say her to pay portal fee first. 

gender = input("Please enter you gender").lower().strip()
if gender == "male":
    print(f"You are a {gender}, allowed to login to the portal")
else:
    print(f"You are a {gender},Please pay the portal fee to login")

Please enter you genderfemale
You are a female,Please pay the portal fee to login

In [54]:
user_ids = ['yasirpappo', 'mudasirtiger', 'ammirpython', 'baberconda', 'talhachingari']

# in

In [55]:
'yasirpappo' in user_ids

True

In [57]:
user_id = input("Please enter your userid")
if user_id in user_ids:
    print(f"Logged In with userid {user_id}")
else:
    print(f"Invalid userid {user_id}")

Please enter your useridyasirpappo
Logged In with userid yasirpappo

In [60]:
# ask user his /her full name 
# if the length of the name is more than 15 then say You have a big name
# if the length of the name is less than 15 then say You have a small name
name = input("Please enter your full name")
if len(name)>=15:
    print("You have a big name")
else:
    print("You have a small name")

Please enter your full namemian muhammad nawaz sharif
You have a big name

# Class10(25June2024)

if a person is less than 20 >>> teenager
if a person is more than 19 but less than 30 >>> young
if a person is more than 30 but less than 50 >>> adult 
if a person is more than 50 but less than 60>>> grownup man
if a person is more than 60  >>> oldman

In [7]:
age = float(input("Please tell me your age: "))
if age <20:
    print("You are a teenager")
elif age< 30:
    print("You are a young")
elif age< 50:
    print("You are a adult")
elif age <60:
    print("You are a grownup man")
else:
    print("You are a oldman")

Please tell me your age: 34
You are a adult

In [17]:
age = float(input("Please tell me your age: "))
if age >=60:
    print("Oldman")
elif age>=50:
    print("Grownup")
elif age>=30:
    print("Adult")
elif age>=20:
    print("Young")
elif age>=13:
    print("Teenager")
elif age>=3:
    print("Kid")
else:
    print("Toodler")

Please tell me your age: 78
Oldman

In [18]:
percentage = float(input("Enter your percentage"))
if percentage <50:
    grade = "Fail"
elif percentage <60:
    grade= "C"
elif percentage <70:
    grade= "B"
elif percentage <80:
    grade= "A"
elif percentage <90:
    grade= "A+"
else:
    grade = "A*"
print(f"your grade is {grade}")

Enter your percentage67
your grade is B

# Nested Conditions / Nested Choices / Nested ifs

In [19]:
election_day = input("Is today is election day").lower()
cnic = input("Do you have a valid CNIC").lower()
name_in_list = input("Is your name in voting list").lower()
if election_day == "yes":
    if cnic=="yes":
        if name_in_list =='yes':
            print("Welcome! please cast your vote")
        else:
            print("Sorry your name not in voter list, you can not cast vote")
    else:
        print("Sorry you dont have CNIC you can not cast your vote")
else:
    print("Sorry you can not cast vote as there no election today")

Is today is election dayno
Do you have a valid CNICno
Is your name in voting listno
Sorry you can not cast vote as there no election today

In [21]:
election_day = input("Is today is election day").lower()
if election_day == "yes":
    cnic = input("Do you have a valid CNIC").lower()
    if cnic=="yes":
        name_in_list = input("Is your name in voting list").lower()
        if name_in_list =='yes':
            print("Welcome! please cast your vote")
        else:
            print("Sorry your name not in voter list, you can not cast vote")
    else:
        print("Sorry you dont have CNIC you can not cast your vote")
else:
    print("Sorry you can not cast vote as there no election today")

Is today is election dayyes
Do you have a valid CNICyes
Is your name in voting listno
Sorry your name not in voter list, you can not cast vote

In [25]:
user_ids = ['yasirpappo', 'mudasirtiger', 'ammirpython', 'baberconda', 'talhachingari']
passwords = ['1234','4321','4545', '4040','5555']

userid = input("Please enter your user id to log in")
if userid in user_ids:
    passw = input("Please enter your password")
    if passw in passwords:
        print("Welcome You are logged In")
    else:
        print("Password is wrong")
else:
    print("Invalid User id")

Please enter your user id to log inmudasirtiger
Please enter your password1234
Welcome You are logged In

In [33]:
phy = float(input("Enter physics marks"))
maths = float(input("Enter maths marks"))
urdu = float(input("Enter urdu marks"))
chem = float(input("Enter chem marks"))
comp = float(input("Enter comp marks"))
obtained = phy+maths+urdu+chem+comp
total =500
percentage = obtained/total*100

if phy>=50:
    if maths>=50:
        if urdu>=50:
            if chem>=50:
                if comp>=50:
                    result = "Pass"
                    sub = "Pass in All Subjects"
                else:
                    result="Fail"
                    sub = "Computer"
            else:
                result="Fail" 
                sub= "Chem"
        
        else:
            result="Fail"
            sub = "Urdu"
    else:
        result="Fail"
        sub = "Maths"
else:
    result = "Fail"
    sub = "Physics"   
    
    
if percentage <50:
    grade = "Fail"
elif percentage <60:
    grade= "C"
elif percentage <70:
    grade= "B"
elif percentage <80:
    grade= "A"
elif percentage <90:
    grade= "A+"
else:
    grade = "A*"
print(f"your percentage is {percentage} and your grade is {grade} and your result is {result} in {sub}")

Enter physics marks78
Enter maths marks87
Enter urdu marks56
Enter chem marks67
Enter comp marks90
your percentage is 75.6 and your grade is A and your result is Pass in Pass in All Subjects

# class 11 (27June2024

# Task1:

A company decided to give bonus of 5% to employee if his/her year of service is more than 5 years.

Ask user for their salary and year of service and print the net bonus amount.

In [4]:
service = float(input("Enter how many year have you been working in the office"))

if service >=5:
    salary = float(input("Enter your gross salary"))    
    bonus = salary*0.05
else:
    bonus = salary*0
print(f"Your bonus is Rs: {bonus}")

Enter how many year have you been working in the office5
Enter your gross salary450000
Your bonus is Rs: 22500.0

# Task2:
A company decided to give bonus of 
         - 25% to employee if his/her year of service is more than or equal to 15 years.
         
         - 20% to employee if his/her year of service is more than or equal to 10 years.
         
         - 15% to employee if his/her year of service is more than or equal to 7 years.
         
         - 10% to employee if his/her year of service is more than or equal to 5 years.
         
         - 5%  to employee if his/her year of service is less than 5 years.    

Ask user for their salary and year of service and print the net bonus amount.

In [6]:
service = float(input("Enter how many year have you been working in the office: "))
salary = float(input("Enter your gross salary"))   
if service >=15:
    bonus = salary*0.25
elif service >=10:
    bonus = salary*0.20
elif service >=7:
    bonus = salary*0.15
elif service >=5:
    bonus = salary*0.10
else:
    bonus = salary*0.05
print(f"Your bonus amt is Rs:{bonus}/-")

Enter how many year have you been working in the office: 5
Enter your gross salary200000
Your bonus amt is Rs:20000.0/-

# Task3:
Write a program to check whether a person is eligible for voting or not.  

Ask age of the person , if age is more than or equal to 18 then eligible if less than 18 no eligible

# Task4:
Take values of length and breadth of a rectangle from user and check if it is square or rectangle.

# Task5:

Write a program to check whether a number entered by user is even or odd.

Hint: Use modulo operator (%) to check remainder when divideing with 2 , if remainder is 0 even, else odd

In [8]:
number = int(input("Enter a number"))

if number%2 == 0:
    print("Even")
else:
    print("Odd")

Enter a number7
Odd

# Task6: 
    Take two int values from user and print greatest among them.

In [15]:
num1 = int(input("Enter a number"))
num2 = int(input("Enter a number"))
if num1 > num2: 
    print(f"{num1} is greater than {num2}")
elif num2 > num1:
    print(f"{num2} is greater than {num1}")
else:
    print("Both are equal")

Enter a number5
Enter a number5
Both are equal

# Task7: 
    A shop will give discount of 10% if the cost of purchased quantity is more than 10000.
- Ask user for quantity
- Suppose, one unit will cost 100.
- Judge and print total cost for user.

In [17]:
price = 1500
quantity = int(input("Enter how many units you require? "))
total_cost = price*quantity
if total_cost >=10000:
    discount = total_cost*.10
    print(f"Your total bill after discount {discount} is Rs: {total_cost-discount}")
else:
    discount = total_cost*.0
    print(f"Your total bill after discount {discount} is Rs: {total_cost-discount}")

Enter how many units you require? 5
Your total bill after discount 0.0 is Rs: 7500.0

# Task8:
    Write a program to calculate the electricity bill (accept number of unit from user) 
    
according to the following criteria :

     Unit                                                     Price  
     
upto 100 units                                              no charge

Next 200 units                                              Rs 25 per unit

After 300 units                                             Rs 45 per unit

(For example if input unit is 350 than total bill amount is Rs.7250

(For example if input unit is 97 than total bill amount is Rs.0

(For example if input unit is 150 than total bill amount is Rs.1250

In [24]:
units_consumed = int(input("How many uints consumed? "))
bill_amt = 0
if units_consumed <=100:
    bill_amt = units_consumed*0
elif units_consumed <=300:
    bill_amt = 100*0 + (units_consumed-100)*25
else:
    bill_amt = 100*0 + 200*25 + (units_consumed-300)*45
    
print(f"You have consumeed {units_consumed} and your bill is {bill_amt}")

How many uints consumed? 450
You have consumeed 450 and your bill is 11750

# Class12(2July2024)

# Task9: 
    Ask user to enter age, gender ( M or F ), and then using following rules print their place of service.

    if employee is female, then she will work only in urban areas.

    if employee is a male and age is in between 20 to 40 then he may work in anywhere

    if employee is male and age is in between 40 t0 60 then he will work in urban areas only.

    And any other input of age should print "ERROR"

In [2]:
gender = input("Enter your gender: ").lower()
age  = int(input("Enter your age: "))
posting = 'Error'
if gender == "female":
    posting = "Urban"       
        
elif (gender=='male') and (age >20) and (age<40):
    posting = "Anywhere"
elif (gender=='male') and (age>40) and (age<60):
    posting='Urban'
else:
    print("You take rest")
print(f"Your age is {age} and your gender is {gender}, You will work in {posting}")

Enter your gender: male
Enter your age: 67
You take rest
Your age is 67 and your gender is male, You will work in Error

# Logical and or  > results in terms of Boolean

In [10]:
age = 30 
gender = "male"

if age==20 and gender=="male":
    print("OK")
else:
    print("Not OK")

Not OK

input1   and   input2       result
__________________________________
 True           True         True
 False          True         False
 True           False        False
 False          False        False
 
 
 input1   or  input2       result
 _________________________________
   True        True        True
   True         False      True
   False       True        True
   False       False       False

# Truthy Falsy

In [14]:
bool(0)

False

In [15]:
bool(1)

True

In [16]:
bool(3)

True

In [17]:
bool("hello")

True

In [18]:
bool("")

False

In [19]:
bool([1,2,3])

True

In [20]:
bool([])

False

In [22]:
12 or 5 or 6 or 0

12

In [24]:
12 and 5 and 6 and 1

1

# Loops

In [4]:
print("Nasir Hussain")
print("Nasir Hussain")
print("Nasir Hussain")
print("Nasir Hussain")
print("Nasir Hussain")
print("Nasir Hussain")
print("Nasir Hussain")
print("Nasir Hussain")
print("Nasir Hussain")
print("Nasir Hussain")

Nasir Hussain
Nasir Hussain
Nasir Hussain
Nasir Hussain
Nasir Hussain
Nasir Hussain
Nasir Hussain
Nasir Hussain
Nasir Hussain
Nasir Hussain

# Python Loops: For Loop , While Loop

## For Loop
   In python for loop iterate over a collection. like list dictinaory range, tuple, set

In [13]:
for a in range(10):
    print("Hello", a)

Hello 0
Hello 1
Hello 2
Hello 3
Hello 4
Hello 5
Hello 6
Hello 7
Hello 8
Hello 9

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

In [14]:
students = ['Adil', 'Ammar', "Nasar", "Maaz", 'Sohail']

print(f"Dear {students[0]} kal test hy")
print(f"Dear {students[1]} kal test hy")
print(f"Dear {students[2]} kal test hy")
print(f"Dear {students[3]} kal test hy")
print(f"Dear {students[4]} kal test hy")

Dear Adil kal test hy
Dear Ammar kal test hy
Dear Nasar kal test hy
Dear Maaz kal test hy
Dear Sohail kal test hy

In [15]:
for student in students:
    print(f"Dear {student} kal test hy")

Dear Adil kal test hy
Dear Ammar kal test hy
Dear Nasar kal test hy
Dear Maaz kal test hy
Dear Sohail kal test hy

In [16]:
for a in range(10):
    print(a)

0
1
2
3
4
5
6
7
8
9

In [17]:
for a in range(1,10):
    print(a)

1
2
3
4
5
6
7
8
9

In [19]:
for a in range(1,10,2):# start,end,step
    print(a)

1
3
5
7
9

In [20]:
for a in range(1,100,5):# start,end,step
    print(a)

1
6
11
16
21
26
31
36
41
46
51
56
61
66
71
76
81
86
91
96

In [23]:
for a in range(-20,20,5):# start,end,step
    print(a)

-20
-15
-10
-5
0
5
10
15

In [24]:
txt = """Pakistan, officially the Islamic Republic of Pakistan, is a country in South Asia. 
It is the fifth-most populous country, with a population of over 241.5 million, 
having the second-largest Muslim population as of 2023. Islamabad is the nation's capital, 
while Karachi is its largest city and financial centre."""

In [33]:
count_a = 0
count_o = 0
for char in txt:
    if (char=="a") or (char=="A"):
        count_a +=1
    elif (char=="o") or (char=="O"):
        count_o +=1
    else:
        pass
print("A", count_a)
print("O", count_o)

A 27
O 18

In [27]:
a = 10

In [30]:
a = a+1

In [31]:
a

11

In [ ]:
a+=1

# 4-1. Pizzas: 
Think of at least three kinds of your favorite pizza Store these

pizza names in a list, and then use a for loop to print the name of each pizza

  Modify your for loop to print a sentence using the name of the pizza

instead of printing just the name of the pizza For each pizza you should

have one line of output containing a simple statement like I like pepperoni

pizza

  Add a line at the end of your program, outside the for loop, that states

how much you like pizza The output should consist of three or more lines

about the kinds of pizza you like and then an additional sentence, such as

I really love pizza!

In [1]:
pizza_names = ['fajita', 'chkiken spicy', 'arabic']
for pizza in pizza_names:
    print(pizza)

fajita
chkiken spicy
arabic

In [3]:
pizza_names = ['fajita', 'chkiken', 'arabic']
for pizza in pizza_names:
    print(f" I like {pizza} pizza")
print(" I really like to eat pizza in lunch daily!")

 I like fajita pizza
 I like chkiken pizza
 I like arabic pizza
 I really like to eat pizza in lunch daily!

# 4-2. Animals:
    Think of at least three different animals that have a common characteristic
    
    Store the names of these animals in a list, and then use a for loop to
    print out the name of each animal
    
      Modify your program to print a statement about each animal, such as

    A dog would make a great pet.

      Add a line at the end of your program stating what these animals have in

    common You could print a sentence such as Any of these animals would

    make a great pe

# Continue Break

In [5]:
for a in range(10):
    if a==5:
        break
    else:
        print(a)

0
1
2
3
4

In [6]:
students = ['Adil', 'Ammar', "Nasar", "Maaz", 'Sohail']
for student in students:
    if student!="Nasar":
        print(f"Dear Mr. {student} tomrrow is a holiday")
    else:
        continue

Dear Mr. Adil tomrrow is a holiday
Dear Mr. Ammar tomrrow is a holiday
Dear Mr. Maaz tomrrow is a holiday
Dear Mr. Sohail tomrrow is a holiday

In [7]:
for a in range(1,10):
    print(a**2)
    if a==5:
        break

1
4
9
16
25

In [10]:
for a in range(1,10):    
    if a==5:
        break
    print(a**2)

1
4
9
16

In [12]:
guests = []
for a in range(10):
    guest = input("Enter your friends name")
    if guest=='atif':
        print(f"{guest} not allowed")
        continue
    guests.append(guest)
print("Guest List:")
print(guests)

Enter your friends nameasad
Enter your friends namefajaf
Enter your friends nameatif
atif not allowed
Enter your friends nameyasir\
Enter your friends namefaisal
Enter your friends namekamran
Enter your friends nametahir
Enter your friends nameumer
Enter your friends namewaqas
Enter your friends namephuppo
Guest List:
['asad', 'fajaf', 'yasir\\', 'faisal', 'kamran', 'tahir', 'umer', 'waqas', 'phuppo']

Take 10 numbers as input from user and separate these number in even or odd list.
if a number is greater than 100 then skip it and if the number is 
less than fifty break the program

In [13]:
evens = []
odds = []
for a in range(10):
    num = int(input("Enter a number"))
    if(num > 100):
        continue
    elif(num < 50):
        break
    elif(num % 2 ==0):
        evens.append(num)
    else:
        odds.append(num)
print(f"Evens: {evens}")
print(f"Odds: {odds}")

Enter a number56
Enter a number51
Enter a number88
Enter a number120
Enter a number48
Evens: [56, 88]
Odds: [51]

# take input a test sequence and count the number of vowels in it.

In [24]:
txt = input("Enter a paragaph:")
vowels = "aeiou"
count = 0
for char in txt:
    if char in vowels:
        count+=1
print("Vowels:")
print(count)

Enter a paragaph:hello
Vowels:
2

In [26]:
txt = input("Enter a paragaph:").lower()# take input a test sequence
count_a = txt.count("a")
count_e =txt.count("e")
count_i =txt.count("i")
count_o =txt.count("o")
count_u =txt.count("u")
print(f"""  
            a> {count_a}
            e> {count_e}
            i> {count_i}
            o> {count_o}
            u> {count_u}

              """)

Enter a paragaph:take input a test sequence

            a> 2
            e> 5
            i> 1
            o> 0
            u> 2

In [ ]:
txt = input("Enter a paragaph:").lower()# take input a test sequencecount_a = txt.count("a")
count_e = 0
count_i =txt.count("i")
count_o =txt.count("o")
count_u =txt.count("u")

# Class(14 July2024)

# While Loop

# Write a program that prompts the user to enter a number n and prints all the numbers from 1 to n.

In [2]:
n = int(input("Enter a number"))

for a in range(1,n+1):
    print(a)

Enter a number9
1
2
3
4
5
6
7
8
9

# Write a program that prompts the user to enter a number n, and then prints all the odd numbers between 1 and n.

In [3]:
n = int(input("Enter a number"))
for a in range(1,n):
    if a%2 !=0:
        print(a)

Enter a number10
1
3
5
7
9

# Write a program that prints 'Happy Birthday!' five times on screen

In [5]:
for a in range(1,6):
    print("Happy Birthday")

Happy Birthday
Happy Birthday
Happy Birthday
Happy Birthday
Happy Birthday

# Write a program that takes a number n as input from the user and generates the first n terms of the series formed by squaring the natural numbers

In [7]:
n = int(input("Enter a number"))

for a in range(1,n+1):
    print(a**2, end=',')

Enter a number10
1,4,9,16,25,36,49,64,81,100,

# Write a program that prompts the user to input a number and prints its multiplication table

In [9]:
table_no = int(input("Enter a number"))
for count in range(1,11):
    print(f"{table_no} * {count} = {table_no * count}")

Enter a number5
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

# namaz break: till 7:50pm

# Write a Python program to print the first 8 terms of an arithmetic progression starting with 3 and having a common difference of 4. The program should output the following sequence: 3 7 11 15 19 23 27 31

1,5,9,13,17,21 .... 

common difference  d = 4
start              a= 1
term               n =8

AP

Tn = a + (n-1)d

In [16]:
a = 3
n = 8
d = 4
for c in range(1,n+1):
    print(a+(c-1)*d)

3
7
11
15
19
23
27
31

# Write a program that prompts the user to enter a number and repeats this process 5 times. The program should accumulate the numbers entered and then display the final running total.

In [26]:
total = 0
for a in range(1,6):
    n = int(input("Enter a number"))
    total +=n
print(total)

Enter a number2
Enter a number3
Enter a number4
Enter a number5
Enter a number6
20

# Write a program that prompts the user to enter a positive integer and calculates itsfactorial. The factorial of a positive integer 'n' is denoted as 'n!' and is calculated by multiplying all the integers from 1 to 'n' together. For example, the factorial of 5 (denoted as 5!) is calculated as 1 x 2 x 3 x 4 x 5.

5! = 5*4*3*2*1 =120
3! = 3*2*1 = 6
10! = 10*9*8*7*6*5*4*3*2*1

In [32]:
number  = int(input("Enter a number to calculate factorial"))
factorial = 1
for a in range(number,0,-1): 
    factorial*=a
print(factorial)

Enter a number to calculate factorial5
120

In [34]:
for a in range(10,0,-1):
    print(a)

10
9
8
7
6
5
4
3
2
1

# Write a Python program that prompts the user to enter a base number and an exponent, and then calculates the power of the base to the exponent. The program should not use the exponentiation operator (**) or the math.pow() function. The program should handle both positive and negative exponents.

In [42]:
base = int(input("Enter a base number"))
power = int(input("Enter a pwer number"))
res = 0
for p in range(1,power+1):
    
base

Enter a base number2
Enter a pwer number2

16

In [6]:
a=1
b=5
c=2

In [5]:
x1 = (-b+(b**2 - 4*a*c)**.5)/2*a
x2 = (-b-(b**2 - 4*a*c)**.5)/2*a
print(x1,x2)

-0.4384471871911697 -4.561552812808831

In [7]:
lst = [5,3,9]

biggest = 0

for n in lst:
    if n > biggest:
        biggest =n 
        print(biggest)
print("Biggest is ", biggest)

5
9
Biggest is  9

In [13]:
lst = [5,3,9,1,4,7,9]

smallest = lst[0]

for n in lst:
    if n < smallest:
        smallest =n 
        print(smallest)
print("Smallest is ", smallest)

Smallest is  0

In [14]:
lst = input("Enter 10 comma separated numbers")
lst

Enter 10 comma separated numbers1,2,3,4,5,6,7,8,9,10

'1,2,3,4,5,6,7,8,9,10'

In [16]:
lst = input("Enter 10 comma separated numbers").split(",")
new_lst = []
for n in lst:
    new_lst.append(int(n))
new_lst

Enter 10 comma separated numbers1,2,3,4,5,6,7,8,9,10

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# While Loops
           - while loops runs over a condition

In [20]:
a=0
while a<10:
    print(a,"hello")
    a = a+1

0 hello
1 hello
2 hello
3 hello
4 hello
5 hello
6 hello
7 hello
8 hello
9 hello

In [21]:
for a in range(10):
    print(a,"Hello")

0 Hello
1 Hello
2 Hello
3 Hello
4 Hello
5 Hello
6 Hello
7 Hello
8 Hello
9 Hello

In [22]:
lst = [12,32,4,5,67,76,89,90,1,2,4,34,321,112,33,43,56,67]

even=[]
odd = []
count = 0 
while count <18:
    if lst[count]%2==0:
        even.append(lst[count])
        count+=1
    else:
        odd.append(lst[count])
        count+=1
        
print(even)
print(odd)

[12, 32, 4, 76, 90, 2, 4, 34, 112, 56]
[5, 67, 89, 1, 321, 33, 43, 67]

In [23]:
for a in lst:
    if a%2==0:
        even.append(a)
    else:
        odd.append(a)

In [24]:
print(even)
print(odd)

[12, 32, 4, 76, 90, 2, 4, 34, 112, 56, 12, 32, 4, 76, 90, 2, 4, 34, 112, 56]
[5, 67, 89, 1, 321, 33, 43, 67, 5, 67, 89, 1, 321, 33, 43, 67]

In [27]:
guests = ['atif', 'nasir', 'umer','asad']

c = 0
while c < len(guests):
    
    print(guests[c])
    c  = c + 1

atif
nasir
umer
asad

In [1]:
guests = ['atif', 'nasir', 'umer','asad']

In [2]:
for guest in guests:
    if guest!='nasir':
        print(f'Mr.{guest} you are invited')

Mr.atif you are invited
Mr.umer you are invited
Mr.asad you are invited

In [3]:
guests = []
for a in range(50):
    name = input("Enter yout guedst name")
    guests.append(name)
print("Guest Are:")
print(guests)

Enter yout guedst nameYasir
Enter yout guedst nameMaaz
Enter yout guedst nameAtif
Enter yout guedst nameOkasha
Enter yout guedst nameAmir
Guest Are:
['Yasir', 'Maaz', 'Atif', 'Okasha', 'Amir']

In [ ]:
guests = []
count = 0
while count <50:
    name = input("Enter yout guedst name")
    guests.append(name)
print("Guest Are:")
print(guests)

# Flag

In [4]:
guests = []
flag = True
while flag:
    name = input("Enter yout guest name or quit ")
    if name == "quit":
        flag = False
    else:
        guests.append(name)

Enter yout guest name or type break to breaknasir
Enter yout guest name or type break to breakasad
Enter yout guest name or type break to breakatif
Enter yout guest name or type break to breakali
Enter yout guest name or type break to breakdada
Enter yout guest name or type break to breakamir
Enter yout guest name or type break to breakbreak

In [5]:
guests

['nasir', 'asad', 'atif', 'ali', 'dada', 'amir']

# 13. Write a program that prompts the user to enter a number and repeats this process 5 times. The program should accumulate the numbers entered and then display the final running total.

# 12. write a program that takes a positive integer N as input and calculates the sum of the reciprocals of all numbers from 1 up to N. The program should display the final sum.

In [12]:
n  = int(input("Enter a number:  "))
total = 0#1,1.5,1.833
if n>0:
    for a in range(1,n+1):#1,2,3
        total+=(1/a)
        
else:
    print("Wrong input")
print(total)

Enter a number:  5
2.283333333333333

In [10]:
1+1/2+1/3+1/4+1/5

2.283333333333333

In [11]:
1/3

0.3333333333333333

In [13]:
a = 1

In [14]:
a=a+1

a+=1

2

# 10. Write a Python program to print the first 6 terms of a geometric sequence starting with 2 and having a common ratio of 3. The program should output the following sequence: 2 6 18 54 162 486

In [4]:
n= 6

a = 2

r = 3
for c in range(1,n+1):
    t6 = a* ((r)**(c-1))
    print(t6,end=",")

2,6,18,54,162,486,

# 8. Write a program that display following output:
SHIFT
HIFTS
IFTSH
FTSHI
TSHIF
SHIFT

In [5]:
txt = 'SHIFT'  #HIFTS

In [16]:
print(txt)
for a in range(0,len(txt)):
    txt= txt[1:]+txt[0]
    print(txt)

SHIFT
HIFTS
IFTSH
FTSHI
TSHIF
SHIFT

In [10]:
txt[1:]+txt[0]

'HIFTS'

In [12]:
txt

'SHIFT'

'SHIFT'
 01234

In [13]:
txt[1:3]

'HI'

In [14]:
txt[2:]

'IFT'

In [15]:
txt[:4]

'SHIF'

In [18]:
txt = 'hello python world'
txt[::3]

'hlph r'

# Tuple
     - (1,2,3,4,5)
     - immutable

In [19]:
atuple = ('apple', 'orange', 'banana','mango', 'cherry')

In [20]:
atuple[3]

'mango'

In [21]:
atuple[5]

IndexError: tuple index out of range

In [22]:
atuple[2:4]

('banana', 'mango')

In [23]:
atuple[2] = 'kiwi'

TypeError: 'tuple' object does not support item assignment

In [26]:
atuple + ('tomato', 'onion')

('apple', 'orange', 'banana', 'mango', 'cherry', 'tomato', 'onion')

In [27]:
atuple = atuple + ('tomato', 'onion')

In [28]:
atuple

('apple', 'orange', 'banana', 'mango', 'cherry', 'tomato', 'onion')

# Set : a set is collection of disctinct objects
    - {}
    - {1,2,3}
    - immutable

In [31]:
aset = {1}

In [32]:
type(aset)

set

In [33]:
aset = {1,2,3,4,5,5,6,7,8,3,4,5,8,9,20}

In [34]:
len(aset)

10

In [35]:
aset

{1, 2, 3, 4, 5, 6, 7, 8, 9, 20}

In [36]:
aset[4] = 56

TypeError: 'set' object does not support item assignment

In [37]:
aset

{1, 2, 3, 4, 5, 6, 7, 8, 9, 20}

In [38]:
aset.add(100)

In [39]:
aset

{1, 2, 3, 4, 5, 6, 7, 8, 9, 20, 100}

In [40]:
aset.difference(aset)

set()

In [41]:
bset = {2,4,6,8,10,12,14,16,18,20}

In [42]:
aset.difference_update(bset)

In [43]:
aset

{1, 3, 5, 7, 9, 100}

In [44]:
bset

{2, 4, 6, 8, 10, 12, 14, 16, 18, 20}

# Functions
    - Block of code.
    - Excecutes when called
    - Can be called as many time as we wish.
          - Open functions  : 
                  print()
                  type()
                  id()
                  len()
                  range()
                  help()
          - class functions
                  list functions
                  strig
                  dictionary
                  tuple
                  set
          - user-defined functions
                  we will defined our own functions

In [49]:
# function definition
def say_hello():
    print("Hello")


# function call
say_hello()

Hello

In [50]:
say_hello()

Hello

In [51]:
say_hello()

Hello

In [52]:
say_hello()

Hello

In [54]:
def sumkaro():
    n1 = int(input("Enter a number: "))
    n2 = int(input("Enter a number: "))
    
    print(f"Sum is {n1+n2}")

In [55]:
sumkaro()

Enter a number: 23
Enter a number: 12
Sum is 35

In [56]:
sumkaro()

Enter a number: 1
Enter a number: 2
Sum is 3

In [57]:
alist = ['ali','nasar','maaz', 'okasha', 'ahmed', 'anas']

### 8-1. Message: Write a function called display_message() that prints one sentence telling everyone what you are learning about in this chapter Call the function, and make sure the message displays correctly

In [58]:
def display_message():
    for name in alist:
        print(f"Mere dost {name}, hum python me functions parh rahe hen")

In [59]:
display_message()

Mere dost ali, hum python me functions parh rahe hen
Mere dost nasar, hum python me functions parh rahe hen
Mere dost maaz, hum python me functions parh rahe hen
Mere dost okasha, hum python me functions parh rahe hen
Mere dost ahmed, hum python me functions parh rahe hen
Mere dost anas, hum python me functions parh rahe hen

In [62]:
def display_message():
    for name in alist:
        if (name[0]=="a") or (name[0]=="A"):
            print(f"Mere dost {name}, hum python me functions parh rahe hen")

In [63]:
def display_message():
    for name in alist:
        if name.startswith("A") or name.startswith("a"):
            print(f"Mere dost {name}, hum python me functions parh rahe hen")

In [64]:
display_message()

Mere dost ali, hum python me functions parh rahe hen
Mere dost ahmed, hum python me functions parh rahe hen
Mere dost anas, hum python me functions parh rahe hen